/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
}

img {
  max-width: 100%;
}

.container {
    width: 800px;
    margin: 0 auto;
}

.top-content  {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}


.top-content .text-container {
    width: 48%;
    padding: 0 1%;
    padding-bottom: 20px;  
}

.middle-content {
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.middle-content h2 {
    padding: 0 2%;
    margin-bottom: 0;
}

.middle-content .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.middle-content .boxes .box {
    width: 12.5%;
    height: 100px;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom-content {
    display: flex;
    margin: 0 2% 20px;
    justify-content: space-around;
}

.bottom-content .text-container {
    padding-right: 4%;
}

.bottom-content .text-container:last-child {
    padding-right: 0;
}

footer {
    width: 100%;
    background: linear-gradient(45deg, #333, #222);
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
}

footer nav a {
    color: #ccc;
    text-decoration: none;
}

html {
    height: 100%;
    background: linear-gradient(45deg, #ccc, #fff);
    background-attachment: fixed;
    font-weight: 700;
  }
  
  header {
      margin: 1em 0;
  }
  header a{
      color: #111;
      text-decoration: none;
      transition: all .5s;
  }

  header a:hover{
    color: #555;
    text-decoration: underline;
}
   
  .inline-block > div {
    display: inline-block;
  }
  .margin-1 {
    margin: 3%;
  }
  .w-100 {
      width: 100%;
  }
  
  .h-5 {
      height: 4em;
  }
  .flex {
    display: flex;
  }

  .flex.column {
      flex-direction: column;
  }

  .flex.start{
    justify-content: flex-start;
  }

  .flex.baseline {
      align-items: baseline;
  }

  .flex.between {
    justify-content: space-between;
}

.flex.around {
    justify-content: space-around;
}
  
  .flex-two-col {
    display: flex;
    flex-wrap: wrap;
  }
  
  .flex-two-col > div {
    width: 50%;
  }
  
  .flex-three-col {
    display: flex;
    flex-wrap: wrap;
  }
  
  .flex-three-col > div {
    width: 33%;
  }
  
  .flex-four-col {
    display: flex;
    flex-wrap: wrap;
  }
  
  .flex-four-col > div {
    width: 25%;
  }
  
  .flex-five-col {
    display: flex;
    flex-wrap: wrap;
  }
  
  .flex-five-col > div {
    width: 20%;
  }
  
  .flex-inline {
    display: inline-flex;
  }
  
  .flex-inline > div {
    height: 100%;
  }
  
  .inline-block {
    display: inline-block;
  }
  
  .display-properties > div {
    margin: 0;
  }
  
  .flex-two-col > div {
    border-bottom: 1px dashed black;
    width: 43%;
    margin: 3%;
  }

  @media only screen and (max-width: 700px) {
    .flex-two-col > div {
      border-bottom: 1px dashed black;
      width: 95%;
      margin: 5%;
    }
  }

  .flex-two-col > div > h3 {

    margin-top: 2%;
  }

  button {
    font-weight: 700;
    margin: 5% 0;
    padding: 2% 5%;
    background: #fff;
    border: 1px solid #000;
    border-radius: 6px;
    transition: all .2s;
  }

  button:hover {
    transform: scale(1.05);
    filter: invert(1);
  }

  button:active {
    transform: scale(1.01);
    filter: invert(1);
  }

  button:active,button:focus {
    outline: none;
  }

  .text-center {
    text-align: center;
  }

  .absolute {
    position: absolute;
    color: #fff;
    top: 25%;
    right: 15%;
    transform: translate(-50%,-50%);
  }

  form h2{
    justify-self:center;
  }
  .contact form{
    display:grid;
    align-items:center;
  }
  .contact label,textarea{
    text-align:justify;
    margin-bottom:.25em;
  }
  .contact textarea{
    resize:vertical;
    max-height:15em;
    min-height:6em;
  }
  .contact button{
    align-self:center;
  }
  .contact .name{
    display:grid;
  }
  @media (min-width:550px){
    .contact form{
    max-width:50%;
      margin:auto;
    }
    .contact .name{
    display:grid;
    grid-template-areas: 
      "firstName lastName";
    grid-column-gap:1em;
  }
  .contact label[for="firstName"]{
    grid-area:firstName;
  }
  .contact label[for="lastName"]{
    grid-area:lastName;
    }
  }
  
  .box {
    border-radius: 6px;
    height: 5em;
    width: 5em;
  }
  
  .box:first-of-type {
    background: teal;
    color: #ccc;
  }
  
  .box:nth-of-type(2) {
    background: gold;
  }
  
  .box:nth-of-type(3) {
    background: cadetblue;
  }
  
  .box:nth-of-type(4) {
    background: coral;
  }
  
  .box:nth-of-type(5) {
    background: crimson;
    color: #111;
  }
  
  .box:nth-of-type(6) {
    background: forestgreen;
  }
  
  .box:nth-of-type(7) {
    background: darkorchid;
    color: #ccc;
  }
  
  .box:nth-of-type(8) {
    background: hotpink;
  }
  
  .box:nth-of-type(9) {
    background: indigo;
  }
  
  .box:nth-of-type(10) {
    background: dodgerblue;
    color: #111;
  }
  
  